
<div class="players">
	<div class="row">
		<form method="post" action="/drafts" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Number of Teams" id="first_name" type="text" class="white_text" name="num_teams">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Name of Draft Pool (ie 'NBA 2015')" type="text" class="white_text" name="pool">
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Submit"/>
		</form>
	</div>
</br>

<a class="waves-effect waves-light btn" href="/logout">Logout</a>
</div>


