<body class="home_page">
	<h1>Welcome to Fantasy Sports Draft!</h1>
	<a id="login" class="waves-effect waves-light btn" href="/login">Login</a>
	<a id="register" class="waves-effect waves-light btn" href="/register">Register</a>
</body>



