
<div class="players">
	<div class="white_text">Enter Team Names:</div>
	<div class="row">
		<% Team.where(draft_id: @draft.id).each do |team| %>
		<form method="post" action="/drafts/<%= @draft.draft_id %>/teams" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Team Name" type="text" class="white_text" name="team[]">
				</div>
			</div>
		<% end %>
		<input class="btn btn-primary" type = "submit" value= "Start Draft!" />	
		</form>
	</div>
</br>

<a class="waves-effect waves-light btn" href="/logout">Logout</a>
</div>


<div class="white_text">Select team names:</div>
	<% Team.where(draft_id: @draft.id).each do |team| %>
		<form action="/drafts/<%= @draft.id %>/teams" method="post">
		<div class="white_text"><%= team.name %>:</div>
  		<input name="team[]" value= "" />
		</br>
	<% end %>
	<input class="btn btn-primary" type = "submit" value= "Submit" />


